
.modal-content {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: fit-content;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* h3 {
  margin-bottom: 10px;
} */

.employee-name {
  color: rgb(255, 0, 0);
}

.leave-box {
  display: flex;
  flex-direction: row; /* Display boxes horizontally */
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(240, 251, 225);
  border: 1px solid #080807;
  border-radius: 8px;
}

.leave-box p {
  margin: 5px; /* Remove default margin for p elements */
}

.leave-box:hover {
  background-color: rgb(150, 218, 247);
  border: 1px solid #fc6c05;
  cursor: pointer;
}

.main-cal{
  justify-content: space-evenly;
  margin-top: 50px;
  padding: 20px;
  display: flex;

} 
.emp-color{

  color: white;
  height: 10px;
}

/* .react-calendar{
  background: #292929;
}
.react-calendar__tile--now {
  background: #343432;
}

.react-calendar__tile_react-calendar__month-view__days__day_react-calendar__month-view__days__day--neighboringMonth
{
  color: rgb(255, 255, 255) 
} */

.react-calendar{
  margin-top: 50px;
}