/* ApplyLeave.css */

.main-content {
  padding: 20px;
}

.otherleave-content {
  display: flex;
    flex-direction: column;
    max-width: 800px;
    margin-left: 20px;
    /* padding-top: 80px; */
    padding-left: 80px;
    color: antiquewhite;
}


.third-line {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 55px; */
}
.second-line {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 55px;*/
} 
.first-line {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 55px;*/
} 
select option {
  margin: 40px;
  background-color:#292929;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
::-webkit-datetime-edit{
  background-color: #292929;
  color: antiquewhite;
}

h1, h2, h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}

mark {
  font-family: 'Inter', sans-serif;
  background: var(--color-accent);
  color: var(--color-text);
  font-weight: bold;
  padding: 0 0.2em;
}

.card {
  font-weight: 300;
  font-family: 'Inter', sans-serif;
  /* background: var(--color-background); */
  background: transparent;
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 4px;
  width: -webkit-fill-available;
  line-height: 1.4;
  color: white;
  
}



.card *:first-child {
  font-weight: 300;
  margin-top: 0;
}


.input {
  font-weight: 300;
  position: relative;
  font-size: medium;
}


.input__field {
  font-weight: 300;
    line-height: 1.4;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-bottom: 3px solid currentColor;
    padding: 0.75rem 0.5rem;
    color: antiquewhite;
    background: transparent;
    border-radius: 4px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}
.btn-wrap{
  margin-top: 15px;
  align-items: center;
  display: flex;
}


.btn {
  line-height: 1.4;
  color: antiquewhite;
  padding: 0.5rem 1rem;
  /* background: border-box; */
  border: 3px solid antiquewhite;
  border-radius: 4px;
  font-weight: 900;
}

.btn:hover{
  background-color: antiquewhite;
  color: black;
}


