/* grid c6 */
.grid-c6{
  /* border: 1px solid transparent; */
  border: 1px solid rgb(0 0 0 / 45%);
  
  
}
.bd {
  background-image: url(../../assets/images/background5.gif);
  background-size: contain;
}

.grid-c6:hover{
  /* border: 1px solid var(--clr-primar-light);
  /* background-color: var(--clr-peach); */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  color: #060606; */ 

  
border-radius: 20px;
background-color: #1a1919;
box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

backdrop-filter: blur(15px);
 color: black; 
}




.grid-c6  .avatar {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 100%;
  margin: 10px;
}


.grid-c6 .grid-item-top-l {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.grid-c6 .grid-item-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 12px;
  /* margin-right: 15px */
}
.grid-c6 .grid-item-top-r {
  font-weight: 600;
  font-size: 20px;
}
.grid-item-top-r-title{
  text-align: right;
}
.grid-c6:hover .grid-item-top-r-title{
  color: aliceblue;
  text-align: right;
}
.grid-c6 .grid-item-top-r .cover {
  display: flex;
  flex-direction: row-reverse;
}

.grid-c6 .grid-item-top-r .text {
  background-color: #292929;
  
}
.grid-c6:hover  .grid-item-top-r .text{

background-color: #1a1919;
/* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25); */

/* backdrop-filter: blur(15px); */
 color:aliceblue; 
}


.grid-c6 .grid-item-top-r .ntext {
  min-width: 100px;
  min-height: 52px;
 
}

.grid-c6 .grid-item-top-r .subset {
  background-color: aliceblue;
  font-weight: 300;
  font-size: 14px;
  color: black;
  text-align: right;
}

.grid-c6:hover .grid-item-top-r .subset {
   color: antiquewhite; 
   background-color: #1a1919;
}

