.history-contents {
    color: white;
  }
  
  .history-heading {
    margin-top:50px ;
    text-align: center;
    color: whitesmoke;
    background-color: black;
  }
  
  /* Style for the table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th {
    background-color: whitesmoke;
    color: black;
    padding: 8px;
  }
  
  table td {
    border: 1px solid #333;
    padding: 8px;
  }
  
  .table-leave{
    color:black;
    background-color: whitesmoke;
  }

  .thead-leave{
    background-color: black;
    color: white;
  }